
*{
    
    margin: 0;
    padding: 0;
    
}

body {
    background: #eff6f7;
    
    
}



header{
    
    display: block;
    background: #79c1b9;
    height: 53px;
    border-top: none ;
    border-left: none;
    border-right: none;
 
 
    
}

header h1 {
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    padding-right: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 9px;
    float: left;
}


#headerdiv {
    width: 1200px;
    display: block;
    margin: auto;
   
}
header input {
    display: inline-block;
    width: 40%;
   float: left; 
    color: gray;
    font-size: 17px;
    font-family: sans-serif;
    margin: auto;   
    font-weight: 200;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 9px;
    background-color: white;
   padding: 6.4px;
    border-radius: 10px;
    border: none;
}
header a:link {
      float: right;
    display: inline;
    color:white;
    font-size: 13px;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: auto;   
    font-weight: 700;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 9px;
    background-color:#79c1b9;
    padding: 9px;
    border-radius: 10px;
}

header a:visited {
   
    float: right;
    display: inline;
    color:white;
    font-size: 13px;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: auto;   
    font-weight: 700;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 9px;
    background-color:#79c1b9;
    padding: 9px;
    border-radius: 10px;
   }


header a:hover {
     float: right;
   display: inline;
    color: #79c1b9;
    font-size: 13px;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: auto;   
    font-weight: 700;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 9px;
    background-color: floralwhite;
    padding: 9px;
    border-radius: 10px;
} 








#user-pic {
    float: right;
    margin-top: 10px;
    width: 57px;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    margin: 3px;
    
}

        
/* header style end -------> */ 


/* body style */ 

#bodydiv {    
    height: 1000px;
   
    
}

form {
    display: inline-block;
    width: 100%;
}
    
#rightform {
    float: right;
    width: 46%;
  
}
#leftform {
    float: left;
    width: 49%;
}

#formcon{
    
    margin: auto;
    display: block;
    height: 400px;
    width: 1040px;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    background-color: #ffffff;
    border-radius: 7px;
    margin-top: 35px;  
}
#formcon h1{
    display: block;
    color: #78c27c;
    text-align: center;
    padding: 25px;
    font-family: sans-serif;
    font-size: 40px;
    opacity: 0.8;
    margin-bottom: 15px;
    font-weight: 600;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #78c27c;
}

h5{
    color: gray;
    text-align: center;
    font-size: 25px;
    padding-left: 2px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 2px;
    margin-top: 35px;
    opacity: 1;
}

h2{
    color: #ff8083;
    text-align: center;
    font-size: 40px;
    padding-left: 2px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 19px;
    margin-top: 50px;
    opacity: 0.85;
}



#bodydiv input {
    display: inline;
    width: 97.4%;
    height: 35px;
    padding-left: 2%;
    border-radius: 1px;
    border-color: #d9d9d9; 
    border-style: solid;
    margin: 5px;
}




.options{
    
    width: 100%;
    padding: 8px;
    height: 39px;
    border-radius: 3px;
    border-color: #d9d9d9; 
    border-style: solid;
    margin: 5px;
}

#bodydiv #searchbutton {
    
    width: 100%;
    
    border: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
     font-weight: bold;
    background-color: #ff8083;
    text-align: center;   
    margin-top: 20px;
}

#bodydiv #Location {
    
    width: 98%;
}

#bodydiv #searchbutton:hover {
    
    width: 100%;
    background-color: #ff6468;
    border: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}





/*------------*/




/*------------*/


/* body style  end --------> */ 



/* footer */

footer {
    
    display: block;
    height: 400px;
    background: url("../images/blackbg.gif") ;
    
}

#footerdiv {
    display: block;
    width: 1200px;
    height: auto;
    margin: auto;
    height: 400px;
    
}

#footerdiv div {
    display: inline-block;
   width: 24.5%;
     
}

#footerdiv div  a {
    display: block;
   font-family: sans-serif;
    font-size: 15px;
    color: beige;
     padding-left: 20px;
    
    
}
#footerdiv div  h3 {
    display: block;
   font-family: sans-serif;
    font-size: 18px;
    color: beige;
    font-weight: bold;
    padding: 10px;
    padding-top: 100px;
}

#footerdiv img {  display: inline-block;  padding: 27px;}




h6{
    padding: 8px;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    text-align: center;
}


/*  footer style ----->> end  */
